
<div class="offcanvas-menu-wrapper" [class.active]="isMenuOpen">
    <div class="offcanvas__close" (click)="toggleMenu()"  style="color: #fff; float: right; border-radius: 20px; border: 1px solid #fff; padding: 5px 10px; cursor: pointer;">✖</div>
     <div class="offcanvas__logo">
       <a routerLink=" "><img src="assets/img/logo.png" alt=""></a>
    </div> 
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__btn__widget">
        
    </div>
    <div class="offcanvas__widget">
        <ul class="menu__class1">
            <li id="a1"><a  href="./index.html">Become a Member</a></li>
            <li id="a1"><a href="./rooms.html">Cubino for Business</a></li>
            <li id="a1"><a  href="./about.html">List Your Property</a></li> 
            <br>
            <li id="a1"><a  href="./index.html">Profile</a></li>    
            <li id="a1"><a routerLink="/my-booking">My Booking</a></li>
            <li id="a1"><a routerLink="/cancellations">Cancellations</a></li>                              
        </ul>
        <ul style="margin-top: 200px;">
            
            <li><span class="icon_pin_alt"></span> 96 Ernser Vista Suite 437,<br> NY, US</li>
            <li><span class="icon_phone"></span> (123) 456-78-910</li>
            <li><span class="icon_mail"></span>info&#64;cubino.com</li>
        </ul>
    </div>
  
    <!-- <div class="offcanvas__auth">
        <ul>
            <li><span class="icon_phone"></span> (123) 456-78-910</li>
            <li><span class="icon_mail"></span>info&#64;cubino.com</li>
        </ul>
    </div> -->
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header" [class.scrolled]="isScrolled">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="header__top__widget">
                        <li><span class="icon_pin_alt"></span> 96 Ernser Vista Suite 437, NY, US</li>
                        <li><span class="icon_phone"></span> (123) 456-78-910</li>
                        <li><span class="icon_mail"></span>info&#64;cubino.com</li>
                    </ul>
                </div>               
            </div>
        </div>
    </div>
    <div class="header__nav__option">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a routerLink=""><img src="assets/img/logo.png" alt=" "></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <ul class="menu__class">
                                <li><a href="./index.html">Become a Member</a></li>
                                <li><a href="./rooms.html">Cubino for Business</a></li>
                                <li><a href="./about.html">List Your Property</a></li>                                   
                            </ul>
                        </nav>
                        <div class="header__nav__widget">               
                                <div class="user-dropdown">
                                    <div class="user-icon" (click)="toggleUserDropdown()">
                                        <img src="assets/img/user1.png" alt="User"  />
                                    </div>
                                    <ul class="dropdown-menu" [class.show]="isUserDropdownOpen">
                                        <li><a routerLink="/profile">Profile</a></li>
                                        <li><a routerLink="/my-booking">My Booking</a></li>
                                        <li><a routerLink="/cancellations">Cancellations</a></li>
                                        <li><a href="#">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open" (click)="toggleMenu()">
                <span class="fa fa-bars"></span>
            </div>
        </div>
  
</header>
<!-- Header Section End -->
 <section id="section">
        <router-outlet />
 </section>

 <app-footer></app-footer>