<app-header1></app-header1>
<!-- Hotel Details Section -->
<section id="hotel-section">   
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngIf="images">
      <ng-template carouselSlide *ngFor="let image of parseRoomImages(images)">
        <img 
          [src]="'https://cocoalabs.in/Cubino/storage/app/public/' + image" 
          alt="Room Image" 
          class="img-fluid"
        />
      </ng-template>
    </ng-container>
  </owl-carousel-o>
  
  
  

  <div class="container">
    <div class="mt-4">
      <div class="row">
        <div class="col-md-8">      
          <h3>{{roomTitle}}</h3>
          <p>{{hotelData.hotel_address}}</p>       
          <p class="rating">
            <ng-container *ngIf="hotelData.hotel_rating; else notRated">
              <!-- Display the stars -->
              <span *ngFor="let star of getStars(hotelData.hotel_rating)">{{ star }}</span>
            </ng-container>
            <ng-template #notRated>Not rated</ng-template>
          </p>
          <p>{{roomDescription}}</p>

          <!-- Amenities Section -->
          <div class="mt-4 amenities">
            <h4>Amenities</h4>
            <div [innerHTML]="aminities"></div>
          </div>

          <!-- Hotel Policies Section -->
          <div class="mt-4  hotel-policies">
            <h4 class="policies-title">Hotel Policies</h4>
            <div id="policy" [innerHTML]="hotel_policies" class="policies-content"></div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card p-3">
            <h4>Price: {{price}}</h4>
            <p>+ taxes & fees</p>
            <form>
              <div class="card">
                <label for="dates">
                  <i class="fa fa-calendar"></i>{{ start_date | date:'dd-MM-yyyy' }} - {{ end_date | date:'dd-MM-yyyy' }}
                </label>
              </div>
              <div class="card">
                <label for="guests">
                  <i class="fa fa-user" aria-hidden="true"></i> {{guestCount}} Guest
                </label>
              </div>
              <div class="card">
                <label for="rooms">
                  <i class="fa fa-building-o" aria-hidden="true"></i> {{roomCount}} Room
                </label>
              </div>
              <div class="card">
                <label for="room-type">
                  <i class="fa fa-building" aria-hidden="true"></i> Classic <span class="badge-info">Selected</span>
                </label>
              </div>
              <button type="submit" class="btn btn-primary w-100" id="book-button" (click)="submit()">Continue to Book</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer1></app-footer1>

