<div class="wrapper">
    <!-- Main content -->
    <div class="content">
        <!-- Your main content goes here -->
    </div>
    <!-- Footer -->
    <div class="footer__copyright" id="footer">
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <div class="footer__copyright__text">
                    <p>
                        Copyright &copy; <script>document.write(new Date().getFullYear());</script>
                        All rights reserved 
                        <a href="https://www.cocoalabs.in" target="_blank" rel="noopener noreferrer">Cocoalabs</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <ul class="footer__copyright__links">
                    <li><a routerLink="/terms-conditions">Terms Of Use</a></li>
                    <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                    <li><a routerLink="/member">Become a Member</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
