<div class="offcanvas-menu-wrapper" [class.active]="isMenuOpen">
    <div class="offcanvas__close" (click)="toggleMenu()" style="color: #fff; float: right; border-radius: 20px; border: 1px solid #fff; padding: 5px 10px; cursor: pointer;">✖</div>
    <div class="offcanvas__logo">
    <a routerLink=" "><img src="assets/img/logo1.jpg" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__widget">
        <ul class="menu__class">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="/about">About</a></li>    
            <li><a routerLink="/hotels">Hotels</a></li>
            <li><a routerLink="/member">Become a Member</a></li>
            <li><a routerLink="/corporate">Cubino for Business</a></li>
            <li><a routerLink="/property">List Your Property</a></li>  
            <li><a routerLink="/contact">Contact</a></li>                                
        </ul>      
    </div>
    @if(loginToken) {
        <div class="user-dropdown">         
            <div class="user-icon" (click)="toggleUserDropdown()">
                <img src="assets/img/user1.png" alt="User" />
            </div>
            <div class="dropdown-arrow" (click)="toggleUserDropdown()">▼</div>
            <ul class="dropdown-menu" [class.show]="isUserDropdownOpen">
                <li><a routerLink="/profile">Profile</a></li>
                <li><a routerLink="/bookings">My Booking</a></li>
                <li><a routerLink="/cancellations">Cancellations</a></li>
                <li><a (click)="logout()">Logout</a></li>
            </ul>
        </div>         
    }@else {
    <div class="offcanvas__btn__widget" >
        <a routerLink="/login" class="btn btn-primary">
            <i class="fa fa-sign-in-alt"></i> Login
        </a>
        <a routerLink="/register" class="btn btn-success">
            <i class="fa fa-user-plus"></i> Signup
        </a>
    </div>
}
</div>
<header class="header" [class.scrolled]="isScrolled">
    <div class="header__nav__option">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="header__logo">
                        <a routerLink="/hotels"><img src="assets/img/logo1.jpg" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="header__nav">                       
                        <nav class="header__menu">
                            <ul class="menu__class">
                                @if(loginToken) {
                                    <li><a routerLink=" ">{{'home' |translate}}</a></li>
                                    <li><a routerLink="/hotels">{{'hotels'|translate}}</a></li>
                                    <li><a routerLink="/member">{{'Become a Member'|translate}}</a></li> 
                                }@else {
                                    <li><a routerLink="index">{{'home' |translate}}</a></li>
                                    <li><a routerLink="/hotels">{{'hotels'|translate}}</a></li>
                                }
                                
                                <li><a routerLink="/corporate">{{'Cubino for Business' |translate}}</a></li>
                                <li><a routerLink="/property">{{'List Your Property'|translate}}</a></li>                           
                            </ul>                           
                        </nav>
                        <div class="header__nav__widget">  
                            @if(loginToken) {
                                <div class="user-dropdown">
                                    <div class="user-icon" (click)="toggleUserDropdown()">
                                        <img src="assets/img/user1.png" alt="User"  />
                                    </div>
                                    <ul class="dropdown-menu" [class.show]="isUserDropdownOpen">
                                        <li><a routerLink="/profile">{{'profile'|translate}}</a></li>
                                        <li><a routerLink="/bookings">{{'My Booking'|translate}}</a></li>
                                        <li><a routerLink="/cancellations">{{'Cancellations'|translate}}</a></li>
                                        <li><a (click)="logout()" >{{'Logout'|translate}}</a></li>
                                    </ul>
                                </div>
                            }  @else {
                                <a routerLink="/login" class="btn btn-primary">
                                    <i class="fa fa-sign-in-alt"></i> {{'login' |translate}}
                                </a>
                                <a routerLink="/register" class="btn btn-success">
                                    <i class="fa fa-user-plus"></i> {{'sign up'|translate}}
                                </a>
                            }   
                            <select name="" id="" class="btn btn-success" (change)="ChangeLang($event)">
                                <option *ngFor="let lang of  this.translate.getLangs()"  [value]="lang"  [selected]="lang===translate.currentLang">{{lang}}</option>
                            </select>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open" (click)="toggleMenu()">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </div>
</header>
