<app-header1></app-header1>
<div class="container">
  
  <header class="navbar-fixed-top cbp-af-header">
    <div class="row" >   
    <button 
    class="btn btn-secondary d-lg-none toggle-search-btn" 
    (click)="toggleSearchBox()">
    {{ showSearchBox ? 'Hide Search' : 'Show Search' }}
    
  </button></div>  
  
    
  
      <div [ngClass]="{ 'd-none': !showSearchBox, 'd-lg-block': true }">
        <div class="row" class="search-box">
      <form class="inline-form row gx-2" [formGroup]="searchForm"  (ngSubmit)="onSearch()" >
        <div class="form-group col-12 col-lg-auto">
          <label for="location" class="form-label">Place</label>
          <input type="text" id="location" formControlName="location" class="form-control" placeholder="Enter location/Hotel Name" required />
        </div>
        <div class="form-group col-12 col-lg-auto">
          <label for="checkin" class="form-label">Check-in</label>
          <input type="date" id="checkin" formControlName="checkin" class="form-control"  [min]="todayDate" required />
        </div>
        <div class="form-group col-12 col-lg-auto">
          <label for="checkout" class="form-label">Check-out</label>
          <input type="date" id="checkout" formControlName="checkout" class="form-control" [min]="todayDate"  required />
        </div>
        <div class="form-group col-12 col-lg-auto">
          <label for="guests" class="form-label">Guests</label>
          <select id="guests" formControlName="guests" class="form-control" (change)="onGuestsChange()" required>
            <option value="" disabled selected>Select guests</option>
            <option value="1">1 Guest</option>
            <option value="2">2 Guests</option>
            <option value="3">3 Guests</option>
            <option value="4">4 Guests</option>
            <option value="5">5 Guests</option>
            <option value="6">6 Guests</option>
            <option value="7">7 Guests</option>
            <option value="8">8 Guests</option>
            <option value="9">9 Guests</option>
            <option value="10">10 Guests</option>
            <option value="11">11 Guests</option>
            <option value="12">12 Guests</option>
          </select>
        </div>
        <div class="form-group col-12 col-lg-auto">
          <label for="rooms" class="form-label">Rooms</label>
          <select id="rooms" formControlName="rooms" class="form-control" required>
            <option value="" disabled selected>Select rooms</option>
            <option *ngFor="let room of availableRooms" [value]="room.value">
              {{ room.label }}
            </option>
          </select>
        </div>
        <div class="form-group col-12 col-lg-auto">
          <button type="submit" class="btn btn-success" [disabled]="searchForm.invalid" style="margin-top:25px;background-color: rgb(227, 232, 236);color:#000;border:none;padding:10px">
           {{'Search'|translate}}
          </button>
        </div>
      </form>
    </div>
    </div>
  </header>



    <section  id="section">
        <!-- Left Column: Filters Section -->
         
        <!-- <div class="left-column">
          <div class="filters">
            <h3>Filters</h3>
            <div class="filter-category">
              <h4>Popular locations in Bangalore</h4>
              <ul>
                <li>
                  <input type="checkbox" id="koramangala" />
                  <label for="koramangala">Koramangala</label>
                </li>
                <li>
                  <input type="checkbox" id="indiranagar" />
                  <label for="indiranagar">Indiranagar</label>
                </li>
                <li>
                  <input type="checkbox" id="hr-layout" />
                  <label for="hr-layout">HR Layout</label>
                </li>
              </ul>
            </div>
            <div class="price-filter">
              <h4>Price</h4>
              <input type="range" min="0" max="2000" id="priceRange" />
              <label for="priceRange">₹461 - ₹2004</label>
            </div>
            <div class="collections">
              <h4>Collections</h4>
              <ul>
                <li>
                  <input type="checkbox" id="family" />
                  <label for="family">Family OYO</label>
                </li>
                <li>
                  <input type="checkbox" id="couple" />
                  <label for="couple">Couple Friendly</label>
                </li>
                <li>
                  <input type="checkbox" id="business" />
                  <label for="business">For Business</label>
                </li>
              </ul>
            </div>
          </div>
        </div>
       -->
      <!-- Right Column: Hotel Results Section -->
      <div class="right-column">       
         
      
    
          <div class="hotel-results">
        
        
        <!-- Check if hotels data is available -->
      <div  class="hotel-cards">
        <div class="card"  *ngFor="let hotel of hotels  | paginate: { itemsPerPage: itemsPerPage, currentPage: page } ">
          <div  class="row ">
            
            <div class="col-md-3">
              <div class="hotel-img">
                <!-- <img
                  [src]="hotel.room_image || 'assets/img/hotel6.jpg'"
                  [alt]="hotel.hotel_name"
                  class="img-fluid"
                /> -->
                <div class="hotel-img">
                  <!-- Display only the first image from the room_images array -->
                  <img [src]="'https://cocoalabs.in/Cubino/storage/app/public/' + hotel.hotel_image" alt="Hotel Image" class="img-fluid" />
                </div>
                
              </div>
            </div>
            <div class="col-md-7">
              <div class="hotel-info">
                <h5 class="hotel-name">{{ hotel.hotel_name }}</h5>
                <p class="hotel-address">{{ hotel.hotel_address }}</p>
                <p class="price">
                  <span class="price-value">{{ hotel.price || 'Price not available' }}</span>
                </p>
                <p class="rating">
                   <ng-container *ngIf="hotel.hotel_rating; else notRated">
              <!-- Display the stars -->
              <span *ngFor="let star of getStars(hotel.hotel_rating); let i = index">
                {{ star }}
              </span>
              <!-- Display the numeric rating -->
              <!-- {{ hotel.hotel_rating }} -->
            </ng-container>
            <ng-template #notRated>
              Not rated
            </ng-template>
                </p>
              </div>
            </div>
            <div class="col-md-2 text-center">
              <button class="btn view-details" (click)="viewDetails(hotel)">
                {{'View Details' |translate}}
              </button>
              <button class="btn book-now" (click)="bookNow(hotel)">
                {{'Book Now'|translate}}
              </button>
            </div>
            <!-- Horizontal line -->
           
          </div>
        </div>
      </div>
        <!-- No hotels found template -->
     
        
            <!-- If no hotels are found -->
            <ng-template #noHotelsFound>
            
              <div  style="text-align: center; margin-top: 30px;margin-bottom: 30px; color: #000; background-color: rgb(240, 228, 190); padding: 10px; width: 70%; margin-left: auto; margin-right: auto;">
                <p  style="text-align: center; color: #000; ">No hotels found</p>
              </div>
            </ng-template>
            <div *ngIf="errorMsg1" style="text-align: center; margin-top: 30px;margin-bottom: 30px; color: #000; background-color: rgb(240, 228, 190); padding: 10px; width: 70%; margin-left: auto; margin-right: auto;">
              <p  style="text-align: center; color: #000; ">{{ errorMsg1 }}</p>
            </div>
            <!-- @if(hotels>10){
              <div class="pagination">
                  <ul class="pagination-list">
                    <li>
                      <button [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
                        Previous
                      </button>
                    </li>
                    <li *ngFor="let page of pages" [class.active]="page === currentPage">
                      <button (click)="goToPage(page)">{{ page }}</button>
                    </li>
                    <li>
                      <button
                        [disabled]="currentPage === totalPages"
                        (click)="goToPage(currentPage + 1)"
                      >
                        Next
                      </button>
                    </li>
                  </ul>
                </div>
            } -->
            <!-- Pagination -->
         
          </div>
        </div>

        <div class="pagination-container"  *ngIf="hotels.length > 3">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
     
        
      </section>
    </div>
    
<!-- <app-footer1></app-footer1> -->
     