.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background:  #f7f1f1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    
}
h1, h2, h3 {
    color: #08090a;
    font-size:medium
}
ul {
    margin: 10px 0;
    padding-left: 20px;
}
a {
    color: #007BFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p{
    color: #0d0e0ed0;
    font-size:16px !important;
    margin-top: 10px !important;
    font-family: 'inter' !important;
}
#section{
    background-color: #ffffff !important;
    padding-top: 50px;
    padding-bottom: 50px;
}