h1, h2 {
    color: #444;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;;
}
h2 {
    margin-top: 20px;
    font-size: 18px;
}
p {
    margin-bottom: 10px;
    font-size: 18px;
}
ul {
    margin-left: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background: #f7f1f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-info {
    margin-top: 20px;
}
#section{
    background-color: #f5f3f3 !important;
    padding-top: 50px;
    padding-bottom: 50px;
}